.account_container {
    -fx-background-color: linear-gradient(to right, #17191c, #0b2626);
    -fx-spacing: 25;
}


.overlay_container {
    -fx-background-color: linear-gradient(to right, #1c1b1c, #1f2330);
    -fx-background-radius: 10;
}



.section_title {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.6em;
    -fx-fill: #FFFFFF;
}

.account_info {
    -fx-background-color: linear-gradient(to right, #3dcccc, #345cde);
    -fx-background-radius: 10;
    -fx-spacing: 10;
}


.account_info Text {
    -fx-font-family: "Cascadia Code";
    -fx-fill: #FFFFFF;
}


.account_info Label {
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #FFFFFF;
}


.transfer_container {
    /*-fx-background-color: linear-gradient(to right, #2d2c2d, #30241f) ;*/
    -fx-background-radius: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.transfer_container Text {
    -fx-font-family: "Cascadia Code";
    -fx-fill: #FFFFFF;
    -fx-font-size: 1.3em;
}

.transfer_container Button {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 1.3em;
    -fx-background-color: #59d6ec;
    -fx-alignment: center;
}

.transfer_container Button:hover {
    -fx-cursor: hand;
}